body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #343232;
}
.light-mode {
  background-color: #ffff;
  width: 320px;
  height: 544px;
}
#img-light {
  display: flex;
  margin: 0 auto;
  margin-bottom: auto;
  flex-direction: center;
  justify-content: center;
  width: 150px;
  height: 150px;
}